body {
	background-color: #4C6D6D;
	font-family: sans-serif;
}

.main-container {
	border: 5px solid #9DB994;
	border-radius: 10px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: #B4B5B5 20px 20px 20px;
}

fieldset {
	border: none;
	border-top: 1px solid #9B9999;
	margin-left: 20px;
	margin-right: 20px;

}

legend {
	margin-left: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
	color: #9B9999;
	font-weight: bolder;
}

h1 {
	margin-left: 58px;
	color: #75808F;
	font-weight: bolder;
}

p {
	margin-left: 58px;
	color: #A3AE79;
}